node_modules
.env
prisma/dev.db
terraform/terraform.tfvars
terraform/.terraform/providers/registry.terraform.io
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfvars.example
terraform/variables.tf
terraform/terraform.tfstate.backup